$body-bg: #c0cad8;
$nav-bg: #ffffff;
$link-color: #637282;
$button-color: #0070e0;

body {
  background-color: $body-bg;
}

.custom-nav {
  background-color: $nav-bg;
  width:100%;

}

.custom-container{
  padding:0px;
  width:100%;
}

.custom-header {
  padding: 30px 10px;
  img {
      height: 30px;
  }
}
.custom-navbar{
  li{
    a {
      color: $link-color;
      margin : 20px 5px;
    }
    .inner-menu{
      li{
        a {
          margin: 0px;
        }
      }
    }
    span{
      a.custom-button{
        color: $button-color;
        margin : 25px 5px;
        padding: 10px 18px;
        border: 1px solid #c1c7cd;
      }
    }
  }
}
